<style>
label 
{
  cursor: initial;
}
form .input-group input 
{
  height: 1.7em;
}
form .input-group
{
  padding: 0.5em 0;
}

</style>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a ng-click="navHome()" class="brand" style="cursor:pointer;">AV Clients</a>
    <ul class="nav pull-right">

    </ul>
  </div>
</div>

<div class="container" style="margin-top: 40px">
  <h1 class="text-center">Add New Client</h1>
  <p></p>
  <form action="" ng-submit="addClient()" style="margin: 2em 0 0 15em;">

    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span> First Name </span>      
      <input class="span6" ng-model="formData.firstName" placeholder="Add the client's first name" type="text" maxlength="100" ng-required="true">

      <span class="text-error" ng-hide="formData.firstName"> Required! </span>

    </div>

    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span> Last Name </span>
      <input class="span6" ng-model="formData.lastName" placeholder="Add the client's last name" type="text" maxlength="100" ng-required="true">
      <span class="text-error" ng-hide="formData.lastName"> Required! </span>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span> Phone Number</span>
      <input class="span6" ng-model="formData.phoneNumber" placeholder="Add the client's phone number" type="text" maxlength="100" ng-required="true">
      <span class="text-error" ng-hide="formData.phoneNumber"> Required! </span>
    </div>

    <div class="input-group">

      <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span> Address</span>
      <input class="span6" ng-model="formData.address" placeholder="Add the client's address" type="text" maxlength="100">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span> City</span>
      <input class="span6" ng-model="formData.city" placeholder="Add the client's city" type="text" maxlength="100">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span> State</span>
      <select class="span6" ng-model="formData.state" ng-options="opt.name for opt in options" ng-required="formData.address || formData.city || formData.zipCode">
        <option value="" ng-hide="formData.state">Add the client's state</option>
      </select>
      <button class="btn btn-danger btn-xs" ng-click="formData.state=''" ng-show="formData.state" style="margin-left:0.4em;"> <span class="glyphicon glyphicon-remove"></span></button>
      <span class="text-error" ng-show="( (formData.address || formData.city) || formData.zipCode) && !formData.state"> Required! </span>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> Zip Code</span>
      <input class="span6" ng-model="formData.zipCode" placeholder="Add the client's zip code" type="text" maxlength="100" ng-required="formData.address || formData.city || formData.state">
      <span class="text-error" ng-show="( (formData.address || formData.city) || formData.state) && !formData.zipCode"> Required! </span>
    </div>

    <p></p>

    <input class="btn btn-primary" type="submit" id="submit" value="Add Client" />
    <button class="btn btn-danger" ng-click="clearData()">Clear Form</button>

  </form>
</div>
