<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav">
			<li><a ng-click="navAddClient()" style="cursor:pointer;">Add Client</a></li>
			<li><a ng-click="about()" style="cursor:pointer;">About</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="page-header">
		<h1> {{title}} <small> List of current clients </small> </h1>
	</div>

	<p style="display:inline-block;"><strong>Total of Clients:</strong> {{tableParams.total()}}</p>

	<button class="btn btn-success btn-sm" style="margin-left:69%;" ng-click="toogleFilter()"><span class="glyphicon glyphicon-search"></span> Search Clients</button>

	<button class="btn btn-danger btn-sm" style="margin-left:0%;" ng-click="navAddClient()"><span class="glyphicon glyphicon-plus"></span>  </button>

	<table ng-table="tableParams" class="table" show-filter="showFilter">

		<tbody>
			<tr ng-repeat="client in clients" ng-init="selectionIndex = $index" ng-dblclick="dblClick(client)" style="cursor:default">
				<td data-title="'First Name'" sortable="'first_name'" filter="{ 'first_name': 'text'}" width="150">
					<span ng-if="!client.editMode"> {{client.first_name}} </span>
					<div ng-if="client.editMode"><input class="form-control" maxlength="100" type="text" ng-model="client.first_name" ng-required="true"/></div>
				</td> 
				<td data-title="'Last Name'" sortable="'last_name'" filter="{ 'last_name': 'text'}" width="150">
					<span ng-if="!client.editMode"> {{client.last_name}} </span>
					<div ng-if="client.editMode"><input class="form-control" maxlength="100" type="text" ng-model="client.last_name" ng-required="true"/></div>
				</td>
				<td data-title="'Phone Number'" sortable="'phone_number'" filter="{ 'phone_number': 'text'}" width="140">
					<span ng-if="!client.editMode"> {{client.phone_number}} </span>
					<div ng-if="client.editMode"><input class="form-control" type="text" ng-model="client.phone_number" ng-required="true" maxlength="15" ng-change="phoneNumberChange(client)" /></div>
				</td>
				<td data-title="'Address'" sortable="'address'" filter="{ 'address': 'text'}" width="200">
					<span ng-if="!client.editMode"> {{client.address}} </span>
					<div ng-if="client.editMode"><input class="form-control" maxlength="100" type="text" ng-model="client.address" /></div>
				</td>
				<td data-title="'City'" sortable="'city'" filter="{ 'city': 'text'}" width="135">
					<span ng-if="!client.editMode"> {{client.city}} </span>
					<div ng-if="client.editMode"><input class="form-control" type="text" maxlength="100" ng-model="client.city" /></div>
				</td>
				<td data-title="'State'" sortable="'state'" filter="{ 'state': 'text'}" width="160" class="form-group" ng-class="{'has-error':(( (client.address || client.city) || client.zip_code) && !client.state), 'has-success':!(( (client.address || client.city) || client.zip_code) && !client.state)}">
					<span ng-if="!client.editMode"> {{client.state}} </span>
					<div ng-if="client.editMode"><select class="form-control" ng-model="client.state" ng-options="opt.name for opt in options" ng-required="(client.address || client.city || client.zip_code) && !client.state">     
						<option value="" ng-hide="client.state">{{client.state}}</option>
					</select></div>
				</td>
				<td data-title="'Zip Code'" sortable="'zip_code'" filter="{ 'zip_code': 'text'}" width="100" class="form-group" ng-class="{'has-error':( ( (client.address || client.city) || client.state) && !client.zip_code), 'has-success':!( ( (client.address || client.city) || client.state) && !client.zip_code)}">
					<span ng-if="!client.editMode"> {{client.zip_code}} </span>
					<div ng-if="client.editMode"><input class="form-control" type="text" ng-model="client.zip_code" maxlength="5" ng-change="zipCodeChange(client)" ng-required="client.address || client.city || client.state"/></div>
				</td>

				<td data-title="'Actions'" width="160">
					<button ng-if="!client.editMode" class="btn btn-info btn-xs" ng-click="client.editMode = true">Edit</button>
					<button ng-if="client.editMode" class="btn btn-primary btn-xs" ng-click="saveEdit(client);">Save</button>
					<button class="btn btn-warning btn-xs" ng-click="viewClient(client.id)">View</button>
					<button  class="btn btn-danger btn-xs" ng-click="deleteClient(client.id,selectionIndex)">Delete {{$parent.$index}}</button>
				</td>
			</tr>
		</tbody>
	</table>

</div>