<!DOCTYPE html>
<html ng-app="List">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>AvClients</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', controller_name%>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:rgb(165,199,168);padding-bottom:70px;">

<%= yield %>

</body>
</html>
